<ion-view title="Minhas conquistas" ng-controller="conquerCtrl">
    <ion-content>
        <div class="padding">
            
            <div class="card" ng-if="conquer.person_full">
                <div class="item item-divider">
                    Cadastro de perfil completo
                </div>
                
                <div class="item item-text-wrap item-conquer">
                    <img src="img/upload/iniciante.png" alt="">
                    <p>Iniciante</p>
                </div>
            </div>

            <div class="card" ng-if="conquer.person_quant>0">
                <div class="item item-divider">
                    Adicionou primeiro perfil
                </div>
                <div class="item item-text-wrap item-conquer">
                    <img src="img/upload/iniciando_relacionamento.png" alt="">
                    <p>Iniciando relacionamento</p>
                </div>
            </div>

            <div class="card" ng-if="conquer.person_quant>2">
                <div class="item item-divider">
                    Adicionou mais de 3 perfis
                </div>
                <div class="item item-text-wrap item-conquer">
                    <img src="img/upload/conquistador.png" alt="">
                    <p>Conquistador</p>
                </div>
            </div>

            <div class="card" ng-if="conquer.reminder_quant>4">
                <div class="item item-divider">
                    Cadastrou 5 compromissos
                </div>
                <div class="item item-text-wrap item-conquer">
                    <img src="img/upload/comprometido.png" alt="">
                    <p>Comprometido</p>
                </div>
            </div>

            <div class="card" ng-if="conquer.place_quant>0">
                <div class="item item-divider">
                    Cadastrou um local
                </div>
                <div class="item item-text-wrap item-conquer">
                    <img src="img/upload/explorador.png" alt="">
                    <p>Explorador</p>
                </div>
            </div>

            <div class="card" ng-if="conquer.food_quant>0">
                <div class="item item-divider">
                    Cadastrou uma comida
                </div>
                <div class="item item-text-wrap item-conquer">
                    <img src="img/upload/degustador.png" alt="">
                    <p>Degustador</p>
                </div>
            </div>

            <div class="card" ng-if="conquer.interest_quant>0">
                <div class="item item-divider">
                    Cadastrou um interesse
                </div>
                <div class="item item-text-wrap item-conquer">
                    <img src="img/upload/atencioso.png" alt="">
                    <p>Atencioso</p>
                </div>
            </div>

            <div ng-if="conquer.person_quant==0" class="empty-box">
                    <h2>Você ainda não possui nenhuma conquista</h2>
                    <img src="img/upload/emptyheart.png">
            </div>

        </div>
    </ion-content>
</ion-view>
