<ion-view view-title="Pessoa" ng-controller="itemPersonIdCtrl">
    <ion-content class="padding">
        <div class="header-person">
            <div class="row">
                <div class="col">
                    <a href="tel:{{person.cell_number}}" class="button button-balanced ion-ios-telephone"></a>
                </div>
                <div class="col">
                    <img ng-show="!emptyVal(person.avatar)" class="avatar" ng-src="{{person.avatar}}">
                </div>
                <div class="col">
                    <a ng-href="#/app/person_view/{{person.id}}" class="button button-calm ion-edit"></a>
                </div>
            </div>
            <h2 class="title">{{person.name}}</h2>
            <p class="type">{{person.type_relative}}</p>
        </div>

        <div class="body-person">
            <a class="item-category card" ng-href="#/app/person/person_date/{{person_id}}">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-calendar.jpg">
                    <span class="category">Datas</span>
                </div>
            </a>
            <a class="item-category card" ng-href="#/app/person/person_place/{{person_id}}">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-places.jpg">
                    <span class="category">Lugares</span>
                </div>
            </a>
            <a class="item-category card" ng-href="#/app/person/person_food/{{person_id}}">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-food.jpg">
                    <span class="category">Comidas</span>
                </div>
            </a>
            <a class="item-category card" ng-href="#/app/person/person_present/{{person_id}}">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-presente.jpg">
                    <span class="category">Presentes e Interesses</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
