<ion-side-menus enable-menu-with-back-views="true" ng-controller="menuCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="menu-sidebar">
        <ion-header-bar class="bar-dark menu-sidebar-header">
            <div class="pic-user">
                <img ng-if="user.avatar.thumb_300_300.url === null" src="img/upload/Icon-user.png" alt="">
                <img ng-if="user.avatar.thumb_300_300.url !== null" src="http://realper.filiperaiz.com.br{{user.avatar.thumb_300_300.url}}" alt="">
            </div>
            <div class="info-user">
                <h2 class="name">{{user.name}}</h2>
            </div>
        </ion-header-bar>
        <ion-content class="menu-sidebar-body">
            <ion-list class="menu-list">
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/person">
                    <i class="icon ion-person-stalker"></i>Pessoas
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/timeline">
                    <i class="icon ion-clipboard"></i>Datas e Compromissos
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/photo">
                    <i class="icon ion-camera"></i>Atalho para Câmera
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/profile">
                    <i class="icon ion-person"></i>Meu perfil
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/conquer">
                    <i class="icon ion-ios-star"></i>Conquistas
                </ion-item>

                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/logoffCtrl">
                    <i class="icon ion-power"></i>Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
