<ion-view title="Nova data" ng-controller="itemPersonDateNewCtrl">
    <ion-content>
        <div class="padding form-input">
            <strong class="title-form dark">Cadastre um novo evento para esta pessoa</strong>
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Data</span>
                    <input type="date" placeholder="" ng-model="reminder.date">
                </label>
                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="reminder.description"></textarea>
                </label>
                <label class="item item-input item-stacked-label ">
                    <ion-checkbox ng-model="reminder.recorrente">
                        <span class="input-label" style="margin-top: 0px !important;font-size: 12px;">Data recorrente (alerta 15 dias antes)?</span>
                    </ion-checkbox>
                </label>
            </div>
            <hr>
            <strong class="title-form dark">Quando você gostaria de ser lembrado dessa data?</strong>
            
            <div class="list list-inset">
                <div ng-repeat="alert in reminder.element_alerts">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">data</span>
                        <input type="date" placeholder="" ng-model="reminder.dates[$index]">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">hora</span>
                        <input type="time" placeholder="" ng-model="reminder.times[$index]">
                    </label>
                    <hr>
                </div>
                
                <div class="actions-add">
                    <a class="button button-calm" ng-click="moreAlert()">
                        + Novo lembrente
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-click="save()">Adicionar</a>
        </div>
    </ion-footer-bar>
</ion-view>
