<ion-view title="Detalhes" ng-controller="itemPersonDateIdCtrl">
    <ion-content>
        <div class="padding form-input">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Data</span>
                    <input type="date" placeholder="" ng-model="reminder.date">
                </label>
                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="reminder.description"></textarea>
                </label>
                <label class="item item-input item-stacked-label ">
                    <ion-checkbox ng-model="reminder.recorrente">
                        <span class="input-label" style="margin-top: 0px !important;font-size: 12px;">Data recorrente (alerta 15 dias antes)?</span>
                    </ion-checkbox>
                </label>

                <div ng-repeat="alert in reminder.element_alerts">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Lembrete de data</span>
                        <input type="date" placeholder="" ng-model="reminder.dates[$index]">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Lembrete de hora</span>
                        <input type="time" placeholder="" ng-model="reminder.times[$index]">
                    </label>
                </div>


                <div class="actions-add">
                    <a class="button button-calm" ng-click="moreAlert()">
                        + Novo lembrente
                    </a>
                </div>

            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-click="save(reminder.id)">Salvar</a>
            <a class="button button-assertive" ng-click="delete(reminder.id)">Deletar</a>
        </div>
    </ion-footer-bar>
</ion-view>