<ion-view title="Detalhes" ng-controller="itemPersonFoodIdCtrl">
    <ion-content>
        <div class="padding form-input">
            <div class="list list-inset">
                <div class="take-pic">
                    <img class="img-view" ng-click="takePhoto()" ng-src="{{food.image}}">
                    <div class="row">
                        <div class="col">
                            <a class="button button-block button-calm" ng-click="takePhoto()">
                                <i class="ion-camera"></i>Tirar
                            </a>
                        </div>
                        <div class="col">
                            <a class="button button-block button-dark" ng-click="choosePhoto()">
                                <i class="ion-image"></i>Selecionar
                            </a>
                        </div>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="food.title"></textarea>
                </label>

                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="food.description"></textarea>
                </label>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-click="save(food.id)">Salvar</a>
            <a class="button button-assertive" ng-click="delete(food.id)">Deletar</a>
        </div>
    </ion-footer-bar>
</ion-view>
