<ion-view view-title="Datas" ng-controller="itemPersonDateCtrl">

    <!-- nav header button -->
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-ios-plus-outline" ng-href="#/app/person_date_form/new/{{person_id}}"></a>
    </ion-nav-buttons>
    <!-- nav header button -->

    <ion-content>
        <div class="list-infos">
            <ion>
                <div class="item-timeline item-widget" ng-repeat="list in list_reminders" ng-if="list_reminders.length>0 && process">
                    <div class="widget-header">
                        <h4 class="title">{{list.date}}</h4>
                        <a class="link-see" href="#/app/person_date_view/{{list.id}}">
                            <i class="icon ion-edit"></i>
                        </a>
                    </div>
                    <div class="widget-body">
                        <ul class="widget-list-info">
                            <li class="item-list">
                                <div class="info-title">
                                    <p>Descrição</p>
                                </div>
                                <div class="info-detail">
                                    <p>{{list.description}}</p>
                                </div>
                            </li>
                            <li class="item-list two">
                                <div class="info-title">
                                    <p>Pessoa</p>
                                </div>
                                <div class="info-detail">
                                    <p>{{list.person}}</p>
                                </div>
                            </li>
                            <li class="item-list two" >
                                <div class="info-title">
                                    <p>Faltam</p>
                                </div>
                                <div class="info-detail">
                                    <p>{{list.time_relative}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="list_reminders.length==0 && process" class="empty-box">
                    <h2>Adicione agora sua primeira data</h2>
                    <img src="img/upload/empty.png">
                </div>

                <ion-infinite-scroll
                    ng-if="hasMoreData"
                    on-infinite="loadMore()"
                    distance="10%">
                </ion-infinite-scroll>

            </ion>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-href="#/app/person_date_form/new/{{person_id}}">Nova data</a>
        </div>
    </ion-footer-bar>
</ion-view>

