<ion-view title="Informações pessoais" ng-controller="itemPersonIdCtrl">
  <ion-content>
    <div class="padding form-input">
        <div class="list list-inset">
                <div class="take-pic">
                    <img ng-show="person.avatar !== undefined" class="img-view" ng-click="takePhoto()" ng-src="{{person.avatar}}">
                    <img ng-show="person.avatar === undefined" class="img-view" ng-click="takePhoto()" ng-src="img/upload/icon-camera.png">

                    <div class="row">
                        <div class="col">
                            <a class="button button-block button-calm" ng-click="takePhoto()">
                                <i class="ion-camera"></i>Tirar
                            </a>
                        </div>
                        <div class="col">
                            <a class="button button-block button-dark" ng-click="choosePhoto()">
                                <i class="ion-image"></i>Selecionar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse-person">
                    <div class="block-info">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nome</span>
                            <input type="text" placeholder="" ng-model="person.name">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Tipo
                            </div>
                            <select ng-model="person.type_relative">
                                <option>Pai</option>
                                <option>Mãe</option>
                                <option>Filho(a)</option>
                                <option>Namorado(a)</option>
                                <option>Esposo(a)</option>
                                <option>Amigo(a)</option>
                                <option>Outros</option>
                            </select>
                        </label>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-1" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-1">Sobre a pessoa<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">

                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Data de nascimento</span>
                                    <input type="date" placeholder="" ng-model="person.birth_date">
                                </label>
                                <label ng-if="person.age !== undefined" class="item item-input item-stacked-label">
                                    <span class="input-label">Idade</span>
                                    <input type="tel" placeholder="" ng-model="person.age" >
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Onde nasceu</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.place_of_birth"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Apelido</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.nick"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Celular</span>
                                    <input type="tel" placeholder="" ng-model="person.cell_number" ng-keypress="mascara()" maxlength="13">
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-1">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-2" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-2">Sobre vocês<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Como se conheceram?</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.as_met"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Onde se conheceram?</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.where_met"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Quando começaram o relacionamento?</span>
                                    <input type="date" placeholder="" ng-model="person.when_relationship">
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Tempo de Relacionamento</span>
                                    <input type="text" placeholder="" ng-model="person.time_when_relationship">
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Momentos inesquecíveis</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.unforgettable_moments"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Mais alguma coisa?</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.something_else"></textarea>
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-2">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-3" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-3">Caracteristicas<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Qualidades</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.qualities"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Defeitos</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.defects"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Sonhos</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.dream"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Não gosta de</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.not_like"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Tatuagens</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.tatu"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Piercing</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.piercing"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Assuntos que o(a) irritam</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.subject"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Atitudes que o(a) irritam</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.attitudes"></textarea>
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-3">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-4" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-4">Preferências<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Cores</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.color"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Músicas</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.music"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Time</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.team"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Animais</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.animals"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Filmes</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.films"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Esportes</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.sports"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Lugares</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.place"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Bebidas</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.drinks"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Livros</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.books"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Seriados</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.series"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Comidas</span>
                                    <textarea name="" id="" cols="30" rows="3" ng-model="person.food"></textarea>
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-4">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-5" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-5">Trabalho<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Trabalha com o que?</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.works_with_what"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Qual horário?</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.job_time"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Outras informações sobre o trabalho</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.about_work"></textarea>
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-5">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-6" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-6">Amigos<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Confiáveis</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.reliable_friends"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Não tão Confiáveis</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.unreliable_friends"></textarea>
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-6">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-7" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-7">Família<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Nome da mãe</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.name_mother"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Nome do pai</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.name_father"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Irmãos</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.brothers"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Filhos</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.kids"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Outros familiares</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.other_relatives"></textarea>
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-7">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="collapse-item">
                        <input class="acc-input" id="acc-8" type="checkbox" name="collapse-group">
                        <label class="acc-label" for="acc-8">Vestuário<i class="acc-icon ion-ios-arrow-down"></i></label>
                        <div class="collapse-content">
                            <div class="block-info">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Tamanho de camisa</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.shirt_size"></textarea>
                                </label>
                                 <label class="item item-input item-stacked-label">
                                    <span class="input-label">Tamanho de calçado</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.size_food"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Tamanho calça/saia</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.pant_size"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Tamanho de short</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.short_size"></textarea>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Outras roupas</span>
                                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="person.other_clothes"></textarea>
                                </label>
                            </div>

                            <div class="close-acc">
                                <label class="acc-label" for="acc-8">Fechar<i class="acc-icon ion-ios-arrow-up"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-dark">
      <div class="actions-footer">
          <a class="button button-balanced" ng-click="save(person.id)">Salvar</a>
          <a class="button button-assertive" ng-click="delete(person.id)">Deletar</a>
      </div>
  </ion-footer-bar>



</ion-view>