<ion-view view-title="Pessoas" ng-controller="ListPersonCtrl">
    <!-- nav header button -->
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-ios-plus-outline" ng-href="#/app/person_add"></a>
    </ion-nav-buttons>
    <!-- nav header button -->
    <ion-content class="padding">
        <div class="list-persons list">
            <ion-item ng-if="list_people.length>0 && process" class="item-avatar item-icon-right item-person" type="item-text-wrap" href="#/app/person/item_person/{{list.id}}" ng-repeat="list in list_people">
                <img ng-src="{{list.avatar}}">
                <h2 class="name">{{list.name}}</h2>
                <p class="type">{{list.type_relative}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <div ng-if="list_people.length==0 && process" class="empty-box">
                <h2>Adicione agora a primeira pessoa</h2>
                <img src="img/upload/empty.png">
            </div>

            <ion-infinite-scroll
                ng-if="hasMoreData"
                on-infinite="loadMore()"
                distance="10%">
            </ion-infinite-scroll>

        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-href="#/app/person_add">Adicionar pessoa</a>
        </div>
    </ion-footer-bar>

</ion-view>
