<ion-view title="Novo lugar" ng-controller="itemPersonPlaceNewCtrl">
    <ion-content scroll="true">
        <div class="padding form-input">
            <strong class="title-form dark">Adicione algum lugar especial que você foi ou essa pessoa</strong>
            <div class="list list-inset">
                <div class="take-pic">
                    <img ng-show="place.image !== undefined" class="img-view" ng-click="takePhoto()" ng-src="{{place.image}}">
                    <img ng-show="place.image === undefined" class="img-view" ng-click="takePhoto()" ng-src="img/upload/icon-camera.png">
                    <div class="row">
                        <div class="col">
                            <a class="button button-block button-calm" ng-click="takePhoto()">
                                <i class="ion-camera"></i>Tirar
                            </a>
                        </div>
                        <div class="col">
                            <a class="button button-block button-dark" ng-click="choosePhoto()">
                                <i class="ion-image"></i>Selecionar
                            </a>
                        </div>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="place.title"></textarea>
                </label>

                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Data Visita</span>
                    <input type="date" placeholder="" ng-model="place.visit_date">
                </label>

                <label class="item item-input item-stacked-label" style="border-bottom:0px">
                    <span class="input-label">Avaliação</span>
                </label>
                <div style="background: #fff;margin-bottom: 10px;text-align: center;padding: 10px;margin-top: -10px;border: 1px solid #979797;border-top:0px">
                    <rating ng-model="place.rating" max="5"></rating>
                </div>

                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="place.description"></textarea>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-click="save()">Adicionar</a>
        </div>
    </ion-footer-bar>
</ion-view>
