<ion-view title="Nova comida" ng-controller="itemPersonFoodNewCtrl">
    <ion-content>
        <div class="padding form-input">
            <strong class="title-form dark">Alguma comida ou receita que essa pessoa especial gosta</strong>
            <div class="list list-inset">
                <div class="list input-form">
                    <div class="take-pic">
                        <img ng-show="food.image !== undefined" class="img-view" ng-click="takePhoto()" ng-src="{{food.image}}">
                        <img ng-show="food.image === undefined" class="img-view" ng-click="takePhoto()" ng-src="img/upload/icon-camera.png">
                        <div class="row">
                            <div class="col">
                                <a class="button button-block button-calm" ng-click="takePhoto()">
                                    <i class="ion-camera"></i>Tirar
                                </a>
                            </div>
                            <div class="col">
                                <a class="button button-block button-dark" ng-click="choosePhoto()">
                                    <i class="ion-image"></i>Selecionar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="food.title"></textarea>
                </label>

                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="food.description"></textarea>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-click="save()">Adicionar</a>
        </div>
    </ion-footer-bar>
</ion-view>
