<ion-view view-title="Enviar Foto" ng-controller="sendPicCtrl">
    <ion-content class="padding">
        <form action="" class="form-input">

            <div class="list list-inset">
                <div class="take-pic">
                    <img ng-show="element.image !== undefined" class="img-view-result" ng-click="takePhoto()" ng-src="{{element.image}}">
                    <img ng-show="element.image === undefined" class="img-view" ng-click="takePhoto()" ng-src="img/upload/icon-camera.png">

                    <div class="row">
                        <div class="col">
                            <a class="button button-block button-calm" ng-click="takePhoto()">
                                <i class="ion-camera"></i>Tirar
                            </a>
                        </div>
                        <div class="col">
                            <a class="button button-block button-dark" ng-click="choosePhoto()">
                                <i class="ion-image"></i>Selecionar
                            </a>
                        </div>
                    </div>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Categoria
                    </div>
                    <select ng-model="element.type">
                        <option value="lugares">Lugares</option>
                        <option value="comidas">Comidas</option>
                        <option value="presentes">Presentes e Interesses</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Pessoa
                    </div>
                    <select ng-model="element.person_id">
                        <option ng-repeat="list in list_people" value="{{list.id}}">{{list.name}}</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="element.title"></textarea>
                </label>
                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3" ng-model="element.description"></textarea>
                </label>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-click="save()">Salvar</a>
        </div>
    </ion-footer-bar>
</ion-view>
