<ion-view title="Meu perfil" ng-controller="profileCtrl">
    <ion-content>
        <div class="padding">
            <form action="" class="form-input">
                <div class="list list-inset">
                    <div class="take-pic">
                        <img ng-show="user_edit.image !== 'img/upload/icon-camera.png'" ng-click="takePhoto()" class="img-view" ng-src="{{user_edit.image}}">
                        <img ng-show="user_edit.image === 'img/upload/icon-camera.png'" ng-click="takePhoto()" class="img-view" ng-src="img/upload/icon-camera.png">
                        <div class="row">
                            <div class="col">
                                <a class="button button-block button-calm" ng-click="takePhoto()">
                                    <i class="ion-camera"></i>Tirar
                                </a>
                            </div>
                            <div class="col">
                                <a class="button button-block button-dark" ng-click="choosePhoto()">
                                    <i class="ion-image"></i>Selecionar
                                </a>
                            </div>
                        </div>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome</span>
                        <input type="text" placeholder="" ng-model="user_edit.name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="" ng-model="user_edit.email">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Telefone</span>
                        <input type="tel" placeholder="" ng-model="user_edit.phone_number" ng-keypress="mascara()" maxlength="13">
                    </label>


                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Senha</span>
                        <input type="password" placeholder="" ng-model="user_edit.password">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Confirmar Senha</span>
                        <input type="password" placeholder="" ng-model="user_edit.password_confimated">
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-click="save(user.id)">Salvar</a>
        </div>
    </ion-footer-bar>
</ion-view>
