<ion-view ng-controller="loginCtrl">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>
            Cadastro
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content scroll="true" class="bg-app">
        <div class="padding form-input">
            <strong class="title-form light">Vamos começar o seu cadastro para usar o nosso aplicativo</strong>
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="" ng-model="user.name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="user.email">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="" ng-model="user.password">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirmação de Senha</span>
                    <input type="password" placeholder="" ng-model="user.password_confirmation">
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-positive">
        <div class="register-footer">
            <a class="button button-clear button-register" ng-click="create_user()">Cadastrar</a>
        </div>
    </ion-footer-bar>
</ion-view>
