<ion-view view-title="Datas" ng-controller="TimelineCtrl">

    <ion-content>
        <div class="list-processos">
            <ion>


                <div class="item-timeline item-widget" ng-repeat="list in list_reminders">
                    <div class="widget-header">
                        <h4 class="title">{{list.date}}</h4>
                        <a class="link-see" href="#/app/person_date_view/{{list.id}}">
                            <i class="icon ion-edit"></i>
                        </a>
                    </div>
                    <div class="widget-body">
                        <ul class="widget-list-info">
                            <li class="item-list">
                                <div class="info-title">
                                    <p>Descrição</p>
                                </div>
                                <div class="info-detail">
                                    <p>{{list.description}}</p>
                                </div>
                            </li>

                            <li class="item-list two">
                                <div class="info-title">
                                    <p>Pessoa</p>
                                </div>
                                <div class="info-detail">
                                    <p>{{list.person}}</p>
                                </div>
                            </li>
                            <li class="item-list two" >
                                <div class="info-title">
                                    <p>Faltam</p>
                                </div>
                                <div class="info-detail">
                                    <p>{{list.time_relative}}</p>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>

                <div ng-if="list_reminders.length==0 && process" class="empty-box">
                    <h2>Você ainda não possui nenhuma data cadastrada</h2>
                    <img src="img/upload/emptyheart.png">
                </div>

                <ion-infinite-scroll
                    ng-if="hasMoreData"
                    on-infinite="loadMore()"
                    distance="10%">
                </ion-infinite-scroll>





            </ion>
        </div>
    </ion-content>
</ion-view>

