/* Empty. Add your own CSS if you like */


.form-input .list-inset .item-input i {
    margin-right: 0px;
}

.item-checkbox{
	padding-left: 50px !important;
}

.item-checkbox span{
	margin-top: 10px !important;
}

.item-checkbox .item-content{
	margin-top: 13px !important;
}